@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to ETickets! View and buy tickets using the link below.</h1>
    <a asp-controller="Tickets" asp-action="Index" class="btn btn-primary">View available tickets</a>
</div>
