@model ETickets.Domain.DTO.AddToShoppingCartDto

@{
    ViewData["Title"] = "Add To Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Add ticket to your shopping cart:</h1>


<hr />

<div class="row">
    <div class="col-md-4 m-auto">
        <form asp-action="AddTicketToCart" method="POST">
            <input type="hidden" asp-for="TicketId" />
            <div class="form-group">
                <label asp-for="SelectedTicket.MovieName"></label>
                <input disabled asp-for="SelectedTicket.MovieName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
